@font-face {
  font-family: 'Optimus Princeps';
  src: url('assets/OptimusPrinceps.ttf');
  src: url('assets/OptimusPrincepsSemiBold.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Optimus Princeps', Arial;
  color: #f0f0f0;
  background: url(assets/490274.jpg);
}

main {
  width: 500px;
  padding: 30px;
  background-color: #0a0a0a54;
  display: flex;
  flex-direction: column;
  
}

h2 {
  font-size: 20px;
}

header {
  width: 100%;
  margin: 0px auto 15px auto;
  padding: 30px;
  background-color: #0a0a0ab4;
  border-top: #e09431 solid 2px;
  border-bottom: #e09431 solid 2px;
}

section {
  width: 100%;
  margin: 0px auto 15px auto;
  padding: 30px;
  background-color: #0a0a0ab4;
  border-top: #e09431 solid 2px;
  border-bottom: #e09431 solid 2px;
}

button {
  color: #f0f0f0;
  font-family: 'Optimus Princeps', Arial;
  font-size: 16px;
  background-color: #1973da;
  transition: background-color 0.3s;
  width: 50%;
  height: 30px;
  border: none;
  margin: 0px auto 0px auto;
}

button:hover {
  background-color: #e09431;
}

button:active {
  background-color: #d6ae79;
}

div {
  font-size: 16px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a46;
  height: 30px;
}